body {
    text-align: center;
    margin: 0;
    background: #333;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 450px 0.7fr 3fr 1.4fr 1.7fr;
    grid-template-areas:
    "header header header"
    "section1 section1 section1"
    "section2 section2 section2"
    "section3 section3 section3"
    "section4 section4 section4"
    "footer footer footer";
    font-family: 'Roboto', sans-serif;
}

header {
    grid-area: header;
    display: grid;
    font-size: 1.2em;
}

header .bg-img {
    position: absolute;
    background-image: url(img/code_photo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

header .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header p {
    width: 900px;
    font-weight: bold;
}

header h1 {
    font-weight: bold;
}

header .btn {
    text-decoration: none;
    background: #333;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    border: 1px solid #666;
}

header .btn:hover {
    background: lightgray;
    color: black;
}

header p {
    margin-top: 0;
    margin-bottom: 25px;
}

.content-1 {
    grid-area: section1;
}

.content-1 h1 {
    margin-top: 0px;
}

.content-1 p {
    align-self: center;
    width: 780px;
    columns: 2;
}

.content-2 {
    display: grid;
    grid-area: section2;
}

.content-2 ul {
    list-style: none;
    display: flex;
    width: 50%;
    align-items: center;
    justify-self: center;
}

img {
    width: 300px;
}

.content-2 li {
    background-color: white;
    color: #333;
    margin-right: 20px;
    margin-bottom: 0;
}

li h1 {
    padding: 20px 0 20px 0;
}

li p {
    padding: 0 30px 15px 30px;
    font-size: 1.2em
}

.content-1, .content-3 {
    background: lightgray;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-3 {
    grid-area: section3;
    background-color: white;
}

.content-3 p {
    width: 800px;
    align-self: center;
    font-size: 1.2  em;
}

.content-3 h1 {
    font-weight: bold;
}

.section-4 {
    display: grid;
    grid-area: section4;
}

.section-4 .left-side {
    grid-column: 1;
    background-color: #2690d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-side, .right-side h1 {
    font-weight: bold;
}

.left-side, .right-side p {
    padding: 0 40px 0 40px;
    font-weight: bold;
}

.section-4 .right-side {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: grid;
    grid-area: footer;
    background: black;
    font-weight: bold;
}

footer .leftside {
    grid-column: 1;
}

footer .rightside {
    grid-column: 3;
}

footer span {
    color: #2690d4;
}
